<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Index</h1>
	<form action="/users" method="post">
		Name: <input type="text" name="name">
		Email: <input type="text" name="email">
		<input type="submit" value="Create User">
	</form>
	<a href="/users/1"><button>USER 1</button></a>
</body>
</html>